.users_search_form {
  max-width: 620px;
  display: block;
  margin: 10px auto;
  padding: 16px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 28px 0px #ea874c;
  -moz-box-shadow: 0px 0px 28px 0px #ea874c;
  box-shadow: 0px 0px 28px 0px #ea874c;

  input {
    width: 96%;
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid #e66b49;
    outline: none;
  }

  li {
    list-style-type: none;
  }

  .name {
    font-weight: 400;
    margin: 16px 0 12px 0;
  }

  .description {
    font-size: 14px;
    margin:0;
    color: #a9a6a6;
  }
  .text-center{
      text-align: center;
  }
}
